@keyframes bounce-slow {
  0% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  50% {
    transform: translateX(-40px);
    transform: translateY(-30px);
  }
  100% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
}
@keyframes bounce-slow-opposite {
  0% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  50% {
    transform: translateX(40px);
    transform: translateY(30px);
  }
  100% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
